:root {
    --bg-color: rgb(253, 253, 253);
    --foreground-color:  rgb(251, 251, 251);;
    --text-main: black;
    --text-accent: rgb(255, 212, 19);
}
/*
@font-face {
    font-family: "bluu-next";
    src: url("BluuNext-Bold.otf"), format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "bluu-next";
    src: url("HalibutSerif-Regular.woff"), format("woff"),
        urk=local("HalibutSerif-Regular.woff2"), format("woff2");
    font-weight: normal;
}
*/

html, body {
    font-family: "optima", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
hr {
    margin: 0;
}
h2 {
    text-decoration: underline;
    font-weight: normal;
}


/* --------------
 |  NAVIGATION  |
 ---------------*/

#map-container, #map {
    width: 100%;
    height: 100%;
}
#map-container {
    position: fixed;
}
#blog-container {
    width: 45%;
    float: right;
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}


#navigation-container {
    position: fixed;
    display: flex;
    
    padding: 2rem;
}
.link {
    color: var(--text-main);

    text-decoration: none;
}
.link:hover {
    color: var(--text-accent);
}
.nav-item {
    background-color: var(--bg-color);
    padding:1rem;
    margin: 0 0.5rem;
    display: block;
    font-size: 1.1rem;
    
} 

.post {
    padding:0;
    background-color: var(--foreground-color);
    margin-bottom: 0.8rem;
}

.post-location {
    font-style: italic;
}
.post-date {
    font-size: 0.9rem;
}
.post-text{
    padding: 0 0.6rem 0;
}
.title {
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    padding: 1rem;
    text-decoration: underline;
}


.post input {
    position: absolute;
    opacity: 0;
    z-index: -1;

  }
.post-content {
    max-height:0;
    overflow:hidden;
   
    
  }
.post input:checked ~ .post-content {
    max-height: 100rem
}




.post-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}
.image-container {
    display: flex;
    align-items: center;
    
}
.arrow {
    padding: 1rem 0.5rem;
    color: var(--text-accent);
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    font-size: 300%;
}
.arrow:hover{
    color: rgb(255,171,70);
}
.post-image {
    display: none;
    object-fit: contain;
}
.active-image {
    display: block;
}
video{
    border: 2px black solidf;
}

.about-content {
    padding: 0 1rem 1rem 1rem;
}
.resume-item {
    margin: 0 0 0 10px;
}

/*STYLING FOR COLLAPSABLE BLOG POSTS*/

