:root {
    --bg-color: rgb(253, 253, 253);
    --foreground-color:  rgb(251, 251, 251);;
    --text-main: black;
    --text-accent: rgb(81, 81, 81);
}
@font-face {
    font-family: "bluu-next";
    src: url("BluuNext-Bold.otf"), format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "bluu-next";
    src: url("HalibutSerif-Regular.woff"), format("woff"),
        urk=local("HalibutSerif-Regular.woff2"), format("woff2");
    font-weight: normal;
}

html, body {
    font-family: "bluu-next", serif;
    min-width: 350px;
}

body {
    background-color: var(--bg-color);
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}
hr, ul {
    margin: 0;
}

/* --------------
 |  NAVIGATION  |
 ---------------*/
#menu-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bg-color) 
}
 #menu {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 0;
}
#title, #title > a {
    font-size: 1.3rem;
    font-weight: bold;
    flex-grow: 1;
    margin: 0;
}
.link {
    color: var(--text-main);
    text-decoration: underline rgb(255, 184, 19);
}
.link:hover {
    text-decoration: wavy underline rgb(255, 184, 19);
    color: var(--text-main);
}
.nav-item {
    color: var(--text-main);
    text-decoration: underline rgb(255, 184, 19);
    padding: 5px;
    margin: 5px;
    font-size: 1.1rem;
}
.nav-item:hover {
    text-decoration: wavy underline rgb(255, 184, 19);
    color: var(--text-main);
} 
li {
    margin: 10px 0;
}

/* --------------
 |     BLOG     |
 ---------------*/
#blog-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    
}
.post {
    padding: 20px 10px 0;
    margin-bottom: 10%;
    background-color: var(--foreground-color);
    
}
.post-body {
    margin: auto;
    
}
.post-header {
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.post-header > * {
    padding: 0 0.5rem;
    margin: 0;
}
.post-location {
    color: var(--text-accent);
    font-style: italic;
    flex-grow: 1;
}
.post-date {
    font-size: 0.9rem;
}
.post-content{
    padding: 0 0.6rem 0;
}



/* --------------
 |    MEDIA    |
 ---------------*/
.post-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}
.image-container {
    display: flex;
    align-items: center;
    
}
.arrow {
    padding: 15px;
    color: rgb(255,171,70);
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    font-size: 300%;
}
.arrow:hover{
    color: rgb(255,57,0);
}
.post-image {
    display: none;
    object-fit: contain;
}
.active-image {
    display: block;
}
video{
    border: 2px black solidf;
}

/* --------------
 |    RESUME    |
 ---------------*/
.resume-item {
    
    margin: 0 0 0 10px;
}

#moon {
    display: none;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: rgb(255,171,70);
    background: linear-gradient(180deg, rgba(255,171,70,1) 0%, rgba(255,57,0,1) 100%);
    position: fixed;
    top: 95%;
    left: -24px;
    z-index: -1;
    transition: top 1s ease, left 1s ease;
}

/* MOBILE VIEW*/
@media (max-width: 479px) {
    #menu {
        width: 90%;
    }
    #blog-container{
        width: 100%;
    }
    .post-body {
        width: 95%;
    }
    #blog-container{
    margin-top: 20%;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    #menu {
        width: 80%;
    }
    #blog-container{
        width: 100%;
    }
    .post-body {
        width: 85%;
    }
    video {
        width: 80%;
        margin: auto;
    }
    
}
@media (min-width: 768px) and (max-width:1023){
    video {
        width: 60%;
        margin: auto;
    }
    .image-container {
        width: 60%;
        margin: auto;
    }
}
@media (min-width: 1023px)  {
    video {
        width: 50%;
        margin: auto;
    }
    .image-container {
        width: 80%;
        margin: auto;
    }
}


/* --------------
 |    MAP    |
 ---------------*/
 #map { 
    height: 700px; 
}
.track:hover {
    background-color: rgb(208, 208, 208);
}